/* line 8, s/s/l.scss */
.c {
  position: relative;
  height: 505px;
  width: 285px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #c9cdcf, -5px -5px 10px #ffffff; }
  /* line 20, s/s/l.scss */
  .c .d {
    position: relative;
    top: 10px;
    left: 10px;
    width: 265px;
    height: 100px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px #c9cdcf, inset -5px -5px 10px #ffffff;
    cursor: text; }
  /* line 38, s/s/l.scss */
  .c .r {
    position: relative;
    top: 10px;
    left: 10px;
    width: 330px;
    margin-top: 20px; }
  /* line 50, s/s/l.scss */
  .c .b {
    position: relative;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 100px;
    border: none;
    box-shadow: 5px 5px 10px #c9cdcf, -5px -5px 10px #ffffff;
    cursor: pointer;
    font-size: 25px; }
  /* line 71, s/s/l.scss */
  .c #1, .c #2, .c #3, .c #4, .c #5, .c #6, .c #7, .c #8, .c #9 {
    color: #1E2330; }
  /* line 77, s/s/l.scss */
  .c #ac, .c #div, .c #mul, .c #del, .c #min, .c #add {
    color: #4d12f5; }
  /* line 83, s/s/l.scss */
  .c #eq {
    position: absolute;
    right: 1px;
    bottom: 20px;
    height: 130px;
    color: #fff;
    background: #4d12f5;
    box-shadow: 5px 5px 10px #410fd0, -5px -5px 10px #5915ff; }
  /* line 99, s/s/l.scss */
  .c .in {
    box-shadow: inset 5px 5px 10px #c9cdcf, inset -5px -5px 10px #ffffff; }
