/* line 5, s/s/l.scss */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: C;
  font-weight: normal;
  background: #edf1f4; }

/* line 15, s/s/l.scss */
body {
  padding: 0;
  margin: 0; }

/* line 22, s/s/l.scss */
.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  /* align content not items */
  min-height: 100vh;
  /* Fill 100% of the height */
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px); }

/* line 35, s/s/l.scss */
.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid violet;
  outline: none;
  background: none; }
