/* line 7, s/s/l.scss */
.c {
  position: relative;
  height: 505px;
  width: 285px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #c9cdcf, -5px -5px 10px #ffffff; }
  /* line 19, s/s/l.scss */
  .c .d {
    position: relative;
    top: 10px;
    left: 10px;
    width: 265px;
    height: 100px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px #c9cdcf, inset -5px -5px 10px #ffffff;
    cursor: text; }
  /* line 37, s/s/l.scss */
  .c .r {
    position: relative;
    top: 10px;
    left: 10px;
    width: 330px;
    margin-top: 20px; }
  /* line 49, s/s/l.scss */
  .c .b {
    position: relative;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 100px;
    border: none;
    box-shadow: 5px 5px 10px #c9cdcf, -5px -5px 10px #ffffff;
    cursor: pointer;
    font-size: 25px; }
  /* line 70, s/s/l.scss */
  .c #ac, .c #div, .c #mul, .c #del, .c #min, .c #add {
    color: #4d12f5; }
  /* line 76, s/s/l.scss */
  .c #eq {
    position: absolute;
    right: 1px;
    bottom: 20px;
    height: 130px;
    color: #fff;
    background: #4d12f5; }
  /* line 90, s/s/l.scss */
  .c .in {
    box-shadow: inset 5px 5px 10px #c9cdcf, inset -5px -5px 10px #ffffff; }
